<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Crypto Currencies</h1>
  <p class="lead">Visualize the latest BTC and ETH currency rates</p>
</div>
<div class="row">
  <div class="col-sm-5 btc">
    <%= render partial: "currency", locals: { currency: @btc_currency, currency_type: :btc } %>
  </div>
  <div class="col-sm-2 d-flex refresh align-items-center justify-content-center">
    <%= link_to listing_path, remote: true , class: "btn align-middle refresh" do %>
      <%= image_tag("refresh-icon.png", class: "refresh-icon") %>
    <% end %>
  </div>
  <div class="col-sm-5 eth">
    <%= render partial: "currency", locals: { currency: @eth_currency, currency_type: :eth } %>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 mt-4">
    <%= form_with url: capture_path do |form| %>
      <%= form.submit 'Capture', class: "btn btn-success btn-lg btn-block" %>
    <% end %>
  </div>
</div>